
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Dancing+Script:wght@700&family=Montserrat:wght@300;400&family=Passions+Conflict&family=Poppins:ital,wght@0,500;1,400;1,500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Dancing+Script:wght@700&family=Montserrat:wght@300;400&family=Passions+Conflict&family=Poppins:ital,wght@0,500;1,400;1,500&family=Roboto&family=Source+Sans+Pro:wght@300;700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #54c3ef;
    
    color: #fad744;
}
#quiz{
 width: 38%;
 margin: 0 auto;
 background-color: #2b3252;
 padding: 15px;
 border-radius: 5px;
}

.headingDiv h1{
    font-size: 45px;
    font-weight: 800;
    font-family: 'Caveat Brush', cursive;
    letter-spacing: 1px;
    text-align: center
    
}

#allquiz{
width: 100%;
}

.divquizheading h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

.options{
   margin-bottom: 10px;
   
}

.btn{
  margin: 0 auto;
}

#btn{
    width: 90px;
    padding: 10px;
    background-color:#FAD744;;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    margin-top: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    
    display: block;
    margin: 40px auto;
    }

.box{
   width: 8%;
   height: 130px;
   background-color: white;
   border-radius: 5px;
   float: right;
   margin-right: 262px;
   position: sticky;
   top: 20px;
}

.divquizheading{
    border-bottom: 1px solid #FAD744;
}

.score{
    text-align: left;
    padding: 10px;
    font-size: 20px;
    color: black;
}

.count{
    text-align: left;
    font-size: 30px;
    margin: -16px 10px;
    color: black;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

